* {
    box-sizing: border-box;
}

.package_item-img {
    width: 209px;
    height: 402px;
    background-image: url(../img/article1.jpg);
}

.item-tag {
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.item-tag-danger {
    background-color: #E74040;
}